.chat {
    flex: 2;
    border-right: 1.5px solid rgb(245, 245, 245, 0.35);
    display: flex;
    flex-direction: column;
    height: 100%;

    .chatBottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1.5px solid rgb(245, 245, 245, 0.35);
        margin-top: auto;

        .emojiSend {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .typeBar {
            padding: 4px;
            width: 72%;
            background-color: rgb(69, 95, 99, 0.2);
            border-radius: 5px;
            color: whitesmoke !important;
            backdrop-filter: blur(10px) brightness(0.5) saturate(120%);
        }

        .typeBar>input {
            width: 95%;
            overflow: hidden;
            padding: 8px;
            font-size: 15px;
            border: none;
            outline: none;
            background-color: transparent;
            caret-color: whitesmoke;
            cursor: pointer;
            color: whitesmoke !important;
        }

        .typeBar>input::placeholder {
            color: whitesmoke !important;
        }

        .sendButton {
            border: none;
            border-radius: 3px;
            background-color: whitesmoke;
            padding: 6px 12px;
            cursor: pointer;
            font-weight: 600;
        }

        .emoji {
            cursor: pointer;
            width: 25px;
            border-radius: 50%;
            background-color: whitesmoke;
            border: 0.5px solid whitesmoke;
        }

        .emojiPickerContainer {
            position: relative;

            .emojiPicker {
                position: absolute;
                left: -40px;
                bottom: 40px;
            }
        }
    }

    .chatContainer {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
    }
}