.chat {
    flex: 2;
    border-right: 1.5px solid rgb(245, 245, 245, 0.35);
    display: flex;
    flex-direction: column;
    height: 100%;

    .chatBottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1.5px solid rgb(245, 245, 245, 0.35);
        margin-top: auto;

        .emojiSend {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .typeBar {
            padding: 4px;
            width: 65%;
            -webkit-backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
            backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
            background-color: rgba(69, 95, 99, 0.08);
            border-radius: 5px;
            color: whitesmoke !important;
        }

        .typeBar>input {
            width: 95%;
            overflow: hidden;
            padding: 8px;
            font-size: 15px;
            border: none;
            outline: none;
            background-color: transparent;
            caret-color: whitesmoke;
            cursor: pointer;
            color: whitesmoke !important;
        }

        .typeBar>input::placeholder {
            color: whitesmoke !important;
        }

        .sendButton {
            border: none;
            border-radius: 3px;
            background-color: whitesmoke;
            padding: 6px 12px;
            cursor: pointer;
            font-weight: 600;
        }

        .emoji {
            cursor: pointer;
            width: 25px;
            border-radius: 50%;
            background-color: whitesmoke;
            border: 0.5px solid whitesmoke;
        }

        .emojiPickerContainer {
            position: relative;

            .emojiPicker {
                position: absolute;
                left: -40px;
                bottom: 40px;
            }
        }
    }

    .chatContainer {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .message {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &.ours {
                align-self: flex-end;
                max-width: 65%;

                .text {
                    -webkit-backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
                    backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
                    background-color: rgba(69, 95, 99, 0.08);
                }
            }

            &.theirs {
                gap: 20px;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                max-width: 70%;

                .text {
                    color: black;
                    background-color: rgb(245, 245, 245, 0.9);
                    -webkit-backdrop-filter: blur(5px) brightness(0.5) saturate(120%);
                    backdrop-filter: blur(5px) brightness(0.5) saturate(120%);
                }

                .messageContainer {
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                }

                .avatar {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
            }

            .text {
                padding: 12px;
                border-radius: 8px;
            }

            .messageImage {
                max-width: 100%;
                border-radius: 8px;
            }

            .messageTime {
                font-size: 12px;
            }
        }
    }
}