.userNotifications {
    padding: 10px;
    align-items: center;
    display: inline;
}

.userList {
    min-width: 45%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userList>img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.listIcons {
    display: flex;
    width: 25%;
    justify-content: space-around;
}

.listIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in;
    object-fit: cover;
}

.listIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.userInfoChat {
    min-height: 12%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(245, 245, 245, 0.35);
}

.userChat {
    min-width: 45%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userChat>img {
    object-fit: cover;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.chatIcons {
    display: flex;
    width: 13%;
    justify-content: space-between;
}

.chatIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
    object-fit: cover;
}

.chatIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.detailIcons {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.detailIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
    object-fit: cover;
}

.detailIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.chatBottomIcons {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.chatBottomIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
    object-fit: cover;
}

.chatBottomIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

h3 {
    font-size: 20px;
    font-weight: 900 !important;
}

.userDetailContainer {
    border-bottom: 1.5px solid rgb(245, 245, 245, 0.35);
    width: 100%;
    padding: 12px;
    min-height: 34%;

    .userDetail {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-around !important;
        height: 100%;

        .userDetailAbout {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 16px;

            p {
                color: lightgray;
                font-size: 16px;
            }

            .userStatus {
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                color: ghostwhite;
                font-size: 18px;
                text-wrap: nowrap;
            }
        }

        .userDetailContactPfp {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            height: 80%;
            gap: 10px;

            img {
                width: 90px;
                height: 90px;
                margin-top: 5px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

#notification-icon {
    transition: box-shadow 0.1s, background-color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
}

#notification-icon:hover {
    background-color: rgba(69, 95, 99, 0.338);
    box-shadow: 0 0 8px rgba(69, 95, 99, 0.435);
}

#notification-icon:active {
    background-color: rgba(103, 134, 138, 0.604);
    box-shadow: 0 0 8px rgba(103, 133, 138, 0.603);
}