.userNotifications {
    padding: 10px;
    align-items: center;
    display: inline;
}

.userList {
    min-width: 45%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userList>img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.listIcons {
    display: flex;
    width: 25%;
    justify-content: space-around;
}

.listIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in;
}

.listIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.userInfoChat {
    min-height: 12%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(245, 245, 245, 0.35);
}

.userChat {
    min-width: 45%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userChat>img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.chatIcons {
    display: flex;
    width: 13%;
    justify-content: space-between;
}

.chatIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
}

.chatIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.detailIcons {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.detailIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
}

.detailIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.chatBottomIcons {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.chatBottomIcons>img {
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
}

.chatBottomIcons>img:hover {
    cursor: pointer;
    color: darkgray;
}

.userStatus {
    font-size: 15px;
    color: lightgray;
}

h3 {
    font-size: 20px;
    font-weight: 900 !important;
}

.userDetailContainer {
    border-bottom: 1.5px solid rgb(245, 245, 245, 0.35);
    width: 100%;
    padding: 20px;

    .userDetail {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        gap: 10px;

        img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }

        .userDetailNameStatus {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            p {
                color: whitesmoke;
            }
        }
    }
}

#notification-icon {
    transition: box-shadow 0.1s, background-color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
}

#notification-icon:hover {
    background-color: rgba(69, 95, 99, 0.338);
    box-shadow: 0 0 8px rgba(69, 95, 99, 0.435);
}

#notification-icon:active {
    background-color: rgba(103, 134, 138, 0.604);
    box-shadow: 0 0 8px rgba(103, 133, 138, 0.603);
}