.addFriendOption {
    display: flex;
    height: 65px;
    width: 80%;
    padding: 20px;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    -webkit-backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
    backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
    background-color: rgba(69, 95, 99, 0.08);
    border-radius: 8px;
    border: 1px solid rgb(69, 95, 99, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;

    .addImg {
        border-radius: 50%;
        border: 2px solid whitesmoke;
        padding: 2px;
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }

    .addImg:hover {
        cursor: pointer;
    }
}

.addFriendOption:hover {
     -webkit-backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
    backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
    background-color: rgba(69, 95, 99, 0.46);
}

.addFriendOption:active{
     -webkit-backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
    backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
    background-color: rgba(99, 129, 134, 0.46);
}

.addFriendOption::selection {
  color: white;
  background-color: transparent;
}