.userInfoList{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userList{
    min-width: 45%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userList > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;   
}

.listIcons{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.listIcons > img{
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in;
}

.listIcons > img:hover{
    cursor: pointer;
    color: darkgray;
}

.userInfoChat{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgb(245, 245, 245, 0.35);
}

.userChat{
    min-width: 45%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.userChat > img{
    border-radius: 50%;
    width: 60px;
    height: 60px;   
}

.chatIcons{
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.chatIcons > img{
    width: 20px;
    height: 20px;
    transition: color 0.3s ease-in !important;
}

.chatIcons > img:hover{
    cursor: pointer;
    color: darkgray;
}

.userStatus{
    font-size: smaller;
    color: lightgray;
}