.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .searchBar{
        width: 70%;
        display: flex;
        align-items: center;
        background-color:  rgb(69, 95, 99, 0.5);
        -webkit-backdrop-filter:  blur(15px) brightness(0.85);
        backdrop-filter: blur(15px) brightness(0.85);
        border-radius: 8px;
        border:1px solid rgb(69, 95, 99, 0.5);
        input{
            width: 85%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 5px;
            caret-color: whitesmoke;
            color: whitesmoke !important;
        }

        input::placeholder {
            color: whitesmoke !important;
        }
        .searchImg{
            padding: 8px;
            height: 36px;
            width: 36px;
            object-fit: cover;
        }

        input:hover{
            cursor: pointer;
        }
    }
    .addImg{
        background-color:  rgb(69, 95, 99, 0.5);
        -webkit-backdrop-filter:  blur(15px) brightness(0.85);
        backdrop-filter: blur(15px) brightness(0.85);
        border-radius: 8px;
        border:1px solid rgb(69, 95, 99, 0.5);
        padding: 8px;
        height: 36px;
        width: 36px;
    }
    .addImg:hover{
        cursor: pointer;
    }
    margin-bottom: 20px;
}

.chatItemContainer{
    display: flex;
    flex-direction: column;
    /* overflow: scroll;
    max-height: 800px; */
}

.chatItem{
    display: flex;
    padding: 20px;
    gap: 15px;
    border-bottom: 1.5px solid rgb(245, 245, 245, 0.35);
    .chatListUserInfo{
        display: flex;
        flex-direction: column;
        gap: 5px;
        p{
            font-size: small;
        }
    }
    .chatListUserImg{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}