 .login {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding: 2%;
     background-color: rgb(245, 245, 245, 0.7);
     width: 95vw;
     height: 95vh;
     display: flex;
     flex-direction: column;
     align-items: center;

     .loginForms {
         display: flex;
         width: 90%;
         height: 90%;
         align-items: center;
         color: darkslategrey;
         justify-content: center;
     }

     .loginHeader {
         height: 5%;
         display: flex;
         flex-direction: column;
         align-items: center;
         color: darkslategrey;

         h1 {
             font-size: 80px;
         }
     }

     .signup,
     .signin {
         text-align: center;
         gap: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 15%;
         min-width: 50%;
         max-width: 50%;
         height: 100%;
         flex: 1;

         input {
             width: 90%;
             border: none;
             outline: none;
             cursor: pointer;
             color: whitesmoke;
             -webkit-backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
             backdrop-filter: blur(150px) brightness(0.7) saturate(110%);
             background-color: rgba(69, 95, 99, 0.08);
             border: 1px rgb(69, 95, 99, 0.5);
             padding: 20px;
             border-radius: 5px;
         }

         .btn {
             text-align: center;
             background-color: whitesmoke;
             color: darkslategrey;
         }

         input::placeholder {
             color: whitesmoke;
         }
     }
 }